* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #95aebd;
    font-size: large;
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

.banner {
    background-image: url("tp.png");
    height: 100vh;
    width: 100%;
    background-size: contain; /* Adjust to fit the container better */
    background-position: center;
    background-repeat: no-repeat;
}

header {
    text-align: center;
    margin-top: 20px;
}

.title {
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 2rem; /* Space between items */
    flex-wrap: wrap; /* Allows items to wrap on smaller screens */
}

nav a {
    font-family: 'Patrick Hand', cursive;
    text-decoration: none;
    color: #859aa6;
    font-size: 1.5rem;
}

.container {
    text-align: center;
    padding: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .banner {
        background-size: cover; /* Adjust background to cover on smaller screens */
        background-position: center center;
    }
    
    .title {
        font-size: 2rem;
    }

    nav ul {
        gap: 1rem;
    }

    nav a {
        font-size: 1.2rem;
    }
    
    .container h2 {
        font-size: 1.2rem;
        padding: 10px;
    }
}
